@charset "utf-8";
/* CSS Document */


/*
 * MocoSever add new configItem
 */

.moco-header {
  margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.moco-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.moco-description {
  font-size: 20px;
  color: #999;
}

/*Editor */
#editor {
	max-height: 200px;
	height: 200px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
